@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
    background: #eee;
}

body {
    background: white;
    min-width: 700px;
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: Nunito, "Trebuchet MS", sans-serif;
    font-size: 20pt;
    margin-bottom: 20px;
}

.irclogview h2 {
    font-family: Nunito, "Trebuchet MS", sans-serif;
    margin-bottom: 10px;
    font-size: 11pt;
    text-decoration: underline;
}
.irclogview ul.log {
    font-family: Inconsolata, monospace;
    font-size: 10.5pt;
    line-height: 14pt;
}
.irclogview ul {
    list-style: none;
    padding-left: 170px;
}

.irclogview li.active,
.irclogview li.active * {
    background: #FF8;
}
.irclogview li span.time {
    margin-left: -175px;
    padding: 0 10px 0 5px;
    float: left;
}
.irclogview li span.time a {
    text-decoration: none;
    color: inherit;
}
.irclogview li span.time a:hover {
    border-bottom: 1px solid #ccc;
}
.irclogview li span.name {
    min-width: 115px;
    padding-right: 10px;
    margin-left: -125px;
    float: left;
    text-align: right;
    color: #444;
}
.irclogview li span.name span {
    font-weight: bold;
}
.irclogview li.act {
    /* display: none; */
}
.irclogview li.act * {
    color: #aaa !important;
}
.irclogview li.act span.name span {
    font-weight: normal;
}

.irclogview table.calendar {
    border: 1px solid #ccc;
    font-family: Nunito, "Trebuchet MS", sans-serif;
    font-size: 12px;
    margin: -50px 0 20px 20px;
    padding: 10px;
    float: right;
}
.irclogview table.calendar th {
    text-align: center;
    border: 0px;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}
.irclogview table.calendar td {
    text-align: right;
    border: 0px;
    padding: 2px 5px;
}
.irclogview table.calendar tr.title th {
    text-align: center;
}
.irclogview table.calendar tr.title img {
    vertical-align: text-bottom;
    padding: 0 5px;
}

.irclogview table.calendar td.today {
    font-weight: bold;
    background: #ddd;
}
.irclogview table.calendar td.empty {
    color: #888;
}
.irclogview table.calendar td.prev,
.irclogview table.calendar td.next {
    color: #ccc;
}
.irclogview table.calendar td a {
    color: blue;
    text-decoration: none;
}
.irclogview table.calendar td.next a,
.irclogview table.calendar td.prev a {
    color: #faa;
}

