{% load irclogview_tags %}
<!DOCTYPE html>
<html><head>
<title>{{ channel }} - Bookmarks</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css"/>
</head><body>
<div class="bookmark">

<h1>{{ channel }} - Bookmarks</h1>
<div class="jump">
<p><img src="{{ MEDIA_URL }}images/script.png"/> <a href="../">View last IRC log of {{ channel }}</a></p>
</div>

{% if bookmarks %}

{% bookmark_list bookmarks %}

{% else %}

<p>No bookmark created.</p>

{% endif %}

</div>
</body></html>

