{% extends "irclogview/base.html" %}
{% load irclogview_tags %}

{% block title %}{{ log.channel }} - {{ log.date|date:"D, j F Y" }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/script.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    add_line_links();
});
</script>
{% endblock %}

{% block page %}
<div class="irclogview">

<h1>{{ log.channel }}</h1>
<div class="jump">
<p><img src="{{ MEDIA_URL }}images/book.png"/> <a href="../+/">View bookmarks</a></p>
</div>
{% log_calendar log_dates date %}
<h2>{{ log.date|date:"D, j F Y" }}</h2>

{% if log.content %}

{% if use_cache %}
{% include "irclogview/log_content_cache.html" %}
{% else %}
{% include "irclogview/log_content.html" %}
{% endif %}

{% else %}
<p>No chat logged on this day.</p>
{% endif %}

</div>
{% endblock %}

