{% load irclogview_tags %}
<!DOCTYPE html>
<html><head>
<title>{{ log.channel }} - {{ log.date|date:"D, j F Y" }}</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssreset/reset-min.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css"/>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/script.js"></script>
</head><body>
<div class="irclogview">

<h1>{{ log.channel }}</h1>
<h2>{{ log.date|date:"D, j F Y" }}</h2>
{% log_calendar calendar_data date %}

{% if log.content %}
<ul class="log">
{% for msg in log.content_dict %}
<li id="L{{ forloop.counter }}" class="{{ msg.type }}"><span class="time">{{ msg.time|date:"H:i" }}</span>
{% if msg.type == 'msg' %}
    <span class="name">&lt;<span style="color:{{ msg.name_color }}">{{ msg.name }}</span>&gt;</span>
{% endif %}{% if msg.type == 'say' %}
    <span class="name">* <span style="color:{{ msg.name_color }}">{{ msg.name }}</span></span>
{% endif %}{% if msg.type == 'act' %}
    <span class="name">*** <span style="color:{{ msg.name_color }}">{{ msg.name }}</span></span>
{% endif %}
    <span class="text">{{ msg.text|urlize }}</span>
</li>
{% endfor %}
</ul>
{% else %}
<p>No chat logged on this day.</p>
{% endif %}

</div>
</body></html>

